.inp{
   width: 35rem;
   margin: 2rem;
   background-color: white;
   padding: 5rem;
   
   border-radius: 4px;
}

.cont{
  background: linear-gradient(to bottom, rgb(151, 231, 243), rgb(44, 124, 237));
}

.mybtn{
  margin: 3rem;
   height: 2.5rem;
   width: 90px;
}

.placename{
   color: rgb(90, 90, 90);
   font-size: 20px;
   line-height: 10px;
}

.img{
  height:198px;
  width: 198px;
}

.temp{
  font-size: 100px;
  margin-top: 20px;
}

.border-div{
  border-right: 1px solid grey;
  
}

.desc{
  font-size: 25px;
  color:rgb(90, 90, 90);
  margin-left: 60px;
}

.min{
  font-size: 23px;
}



@media screen and (max-width: 980px) {
  .inp{
    width: 20rem;
    margin: 1rem;
   
 }

 .mybtn{
   margin-top: 20px;
   height: 2rem;
   width: 80px;
   font-size: 12px;
}

.img{
  height:100px;
  width: 100px;
}

.temp{
  font-size: 48px;
  margin-top: 14px;
}

.desc{
  font-size: 20px;
  color:rgb(90, 90, 90);
  margin-left: 15px;
}

.border-div{
  border-right: 1px solid grey;
  height: 170px;
}
.min{
  font-size: 15px;
}

}